@import "tailwindcss";

html,
body {
    @apply h-full bg-gray-50;
}

* {
    @apply box-content;
}

.form-input {
    @apply focus:outline-blue-500 bg-neutral-200/25 border border-neutral-200/75 rounded-md px-2.5 py-1.5;
}

.form-label {
    @apply text-sm text-neutral-800;
}

.form-warning {
    @apply text-sm text-red-500;
}

.shadow {
    @apply shadow-[0_0_1px_rgba(149,157,165,0.1)];
}

a {
    @apply text-blue-500 hover:opacity-75 duration-75;
}

button {
    @apply hover:opacity-75 duration-75 cursor-pointer px-3 p-2 rounded-md;
}

nav {
    @apply bg-neutral-100 border-b border-neutral-200/75 w-auto h-[64px] flex flex-row px-4 shadow-[0_0_1px_rgba(149,157,165,0.1)];
}

main {
    @apply h-[calc(100%_-_65px)] overflow-auto;
}